.movies{

padding:40px 25px;

}

.movies h2{

margin-bottom:25px;

font-size:30px;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(180px,1fr));

gap:22px;

}

.movie-card{

background:#171717;

border-radius:14px;

overflow:hidden;

transition:.3s;

cursor:pointer;

}

.movie-card:hover{

transform:translateY(-8px);

box-shadow:0 10px 25px rgba(0,0,0,.5);

}

.movie-card img{

width:100%;

height:270px;

object-fit:cover;

}

.movie-info{

padding:15px;

}

.movie-info h3{

font-size:18px;

margin-bottom:6px;

}

.movie-info p{

color:#aaa;

margin-bottom:12px;

}

.bottom{

display:flex;

justify-content:space-between;

align-items:center;

}

.bottom button{

width:38px;

height:38px;

border:none;

border-radius:50%;

background:#E50914;

color:white;

cursor:pointer;

font-size:15px;

}
