.navbar{

position:sticky;

top:0;

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 25px;

background:#111;

z-index:999;

}

.logo{

font-size:28px;

font-weight:bold;

color:#E50914;

}

.nav-links{

display:flex;

gap:25px;

}

.nav-links a{

color:white;

transition:.3s;

font-size:17px;

}

.nav-links a:hover{

color:#E50914;

}

.right{

display:flex;

align-items:center;

gap:15px;

}

.search{

display:flex;

align-items:center;

background:#222;

padding:8px 12px;

border-radius:30px;

gap:10px;

}

.search input{

background:none;

border:none;

outline:none;

color:white;

width:180px;

}

.menu{

display:none;

font-size:24px;

cursor:pointer;

}

@media(max-width:768px){

.menu{

display:block;

}

.search input{

width:110px;

}

.nav-links{

position:absolute;

top:70px;

left:-100%;

width:100%;

background:#111;

flex-direction:column;

padding:20px;

transition:.4s;

}

.nav-links.active{

left:0;

}

}
